@font-face {
    font-family: ;
    src: url(Assets\Font\mesmerize-sc-bk.ttf);
}
.right{
   display: flex;
   justify-content: flex-end;
}
.dot_div{
    position: relative;
    display: inline;
}
.dot{
    position: absolute;
    font-size: 5px;
    color: red;
    font-weight: bold;
    right: 6px;
    top: 12px;
    background-color: red; 
}































































































